$xl-breakpoint: 992px;

@media(min-width: $xl-breakpoint) {
  .btn-sign-up, .btn-new-event {
    margin: 0 0 0 1rem !important;
  }
}

.navbar-nav {
  text-align: center;
}

.btn-sign-up, .btn-new-event {
  margin: 0.125rem 0;
}

.btn.btn-link:hover, .btn.btn-link:focus  {
  text-decoration: none;
}

.btn.btn-link.dropdown-item {
  border-radius: 0;
}

.notifications {
  position: relative;
}

.btn-notifications {
  margin-right: 1rem;
}

.btn-notifications-mobile {
  margin-right: 2rem;
}

.btn .badge {
  top: -2px;
  margin-right: 0.2rem;
}

.notifications-menu {
  width: 320px;
  padding: 0;
  hr {
    margin: 0;
  }
}

.notifications-wrapper {
  max-height: 364px;
  overflow-x: auto;
}

.notification {
  padding: 0.75rem 1.25rem;
}

.notification:hover {
  cursor: pointer;
}

.no-notifications {
  padding: 0.75rem 1.25rem;
}

.notification-read {
  background-color: rgba(16, 108, 214, 0.1);
}

.notifications-divider {
  margin: 0;
}

.notifications-load-more-button {
  padding: 8px 0;
  text-align: center;
}
