<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid navbar-container">
    <a class="navbar-brand"
       routerLink="/">
      Sportup
    </a>
    <div class="menu-items d-flex">
      <button [ngClass]="{'navbar-toggler': true, 'collapsed': isCollapsed}"
              type="button"
              (click)=onChangeNavbarStatus()>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div [ngClass]="{'collapse navbar-collapse': true, 'show': !isCollapsed}">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!session; else sessionExists">
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/login">
              Inicia sesión
            </a>
          </li>
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-primary"
               routerLink="/register">
              Regístrate
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="btn btn-primary btn-sign-up"
               routerLink="/register"
               role="button">
              Regístrate
            </a>
          </li>
        </ng-container>
        <ng-template #sessionExists>
          <li class="nav-item notifications"
              [ngClass]="{'show': showNotificationsDropdown}"
              (appOutsideClick)="onCloseNotificationsDropdown()">
            <button class="btn btn-link btn-notifications dropdown-toggle"
                    type="button"
                    aria-haspopup="true"
                    [attr.aria-expanded]="showNotificationsDropdown"
                    (click)="onToggleNotificationsDropdown()">
              <span class="badge badge-secondary"
                    *ngIf="unreadNotifications === 0">{{ unreadNotifications }}</span>
              <span class="badge badge-danger"
                    *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</span>
              <i class="fas fa-bell"></i>
            </button>
            <div class="dropdown-menu"
                 [ngClass]="{'show': showNotificationsDropdown}">
              <p>tete</p>
            </div>
          </li>
          <li class="nav-item dropdown"
              [ngClass]="{'show': showUserDropdown}"
              (appOutsideClick)="onCloseUserDropdown()">
            <button class="btn btn-link dropdown-toggle"
                    type="button"
                    aria-haspopup="true"
                    [attr.aria-expanded]="showUserDropdown"
                    (click)="onToggleUserDropdown()">
              <i class="fas fa-user"></i>&nbsp;&nbsp;{{ session.firstName }}
            </button>
            <div class="dropdown-menu"
                 [ngClass]="{'show': showUserDropdown}">
              <a class="dropdown-item"
                 [routerLink]="'users/' + session.userId">Mi perfil</a>
              <a class="dropdown-item"
                 [routerLink]="'users/' + session.userId + '/settings'">Configuración</a>
              <div class="dropdown-divider"></div>
              <button class="btn btn-link dropdown-item"
                      type="button"
                      (click)="onLogout()">Cerrar sesión</button>
            </div>
          </li>
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-primary"
               routerLink="/events/new">
              Crear evento
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="btn btn-primary btn-new-event"
               routerLink="/events/new"
               role="button">
              Crear evento
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
