<app-card>
  <card-content>
    <h5 class="card-header">
      Detalles del evento
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>{{ event?.name }}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>
            <span *ngIf="event.status === eventStatus.WAITING"
                  class="badge badge-primary">{{ event?.status }}</span>
            <span *ngIf="event.status === eventStatus.CANCELED"
                  class="badge badge-danger">{{ event?.status }}</span>
            <span *ngIf="event.status === eventStatus.FULL || event.status === eventStatus.DISPUTING"
                  class="badge badge-dark">{{ event?.status }}</span>
            <span *ngIf="event.status === eventStatus.CONFIRMED || event.status === eventStatus.FINISHED"
                  class="badge badge-success">{{ event?.status }}</span>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 location-col">
          <p>
            <span>
              <i class="fas fa-location-arrow fa-fw"></i>
            </span>{{ eventLocation }}
          </p>
        </div>
        <div class="col-12 col-sm-4 sport-col">
          <p>
            <span>
              <i class="fas fa-futbol fa-fw"></i>
            </span>{{ event?.sport.name }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 date-col">
          <p>
            <span>
              <i class="fas fa-calendar-alt fa-fw"></i>
            </span>{{ event?.startDate | date:'short' }} a {{ event?.endingDate | date:'short' }}
          </p>
        </div>
        <div class="col-12 col-sm-4 intensity-col">
          <p>
            <span>
              <i class="fas fa-tachometer-alt fa-fw"></i>
            </span>{{ event?.intensity | eventIntensity }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 players-col">
          <p>
            <span>
              <i class="fas fa-user fa-fw"></i>
            </span>{{ playersNumber }} de {{ event?.maxPlayers }} jugadores inscritos. ({{ event?.maxPlayers - playersNumber }}
            plaza(s) disponibles)
          </p>
        </div>
        <div class="col-12 col-sm-4 fee-col">
          <p *ngIf="event.fee > 0">
            <span>
              <i class="fas fa-money-bill-alt fa-fw"></i>
            </span>{{ event?.fee | currency:event?.currencyCode }}
          </p>
          <p *ngIf="event.fee === 0">
            <span>
              <i class="fas fa-money-bill-alt fa-fw"></i>
            </span>GRATIS
          </p>
        </div>
      </div>
      <div class="row description-row">
        <div class="col">{{event?.description}}</div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a *ngIf="isSameUserAsHost"
             class="btn btn-secondary"
             [ngClass]="{'disabled': isEditButtonDisabled}"
             [routerLink]="['edit']">
            Editar evento
          </a>
          <button *ngIf="!isSameUserAsHost"
                  type="button"
                  class="btn btn-primary"
                  [disabled]="isSendingRequest || isJoinButtonDisabled"
                  (click)="onJoinEvent()">Inscríbete
            <i *ngIf="isSendingRequest"
               class="fas fa-spinner fa-spin button-spinner"></i>
          </button>
        </div>
      </div>
    </div>
  </card-content>
</app-card>
