h3 {
  margin-bottom: 1rem;
}

.location-col, .sport-col, .date-col, .intensity-col, .players-col, .fee-col {
  margin-bottom: 0.35rem;
  p {
    margin-bottom: 0;
  }
}

.description-row {
  margin-top: 0.65rem;
}
