<div class="row">
  <div class="col">
    <div class="user-info-wrapper">
      <app-user-profile-info [user]="user"></app-user-profile-info>
    </div>
  </div>
</div>
<div class="row">
  <div class="col nav-wrapper">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['ratings']"
           [routerLinkActive]="'active'">Valoraciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['events-history']"
           [routerLinkActive]="'active'">Historial de eventos</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
