<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <app-card>
      <card-content>
        <div class="card-body">
          <h4 class="card-title text-center">Reestablecer contraseña</h4>
          <form novalidate
                [formGroup]="passwordResetForm"
                (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nueva contraseña</label>
              <input type="password"
                     class="form-control"
                     [ngClass]="{'is-invalid': password.invalid && password.dirty && password.touched}"
                     placeholder="Nueva contraseña"
                     formControlName="password">
              <div class="invalid-feedback"
                   *ngIf="password.invalid">
                Por favor, introduce una contraseña nueva.
              </div>
            </div>
            <div class="form-group">
              <label>Repite la nueva contraseña</label>
              <input type="password"
                     class="form-control"
                     [ngClass]="{'is-invalid': (passwordConfirm.invalid && passwordConfirm.dirty && passwordConfirm.touched) || (passwordResetForm.hasError('passwordMatch'))}"

                     placeholder="Repite la nueva contraseña"
                     formControlName="passwordConfirm">
              <div class="invalid-feedback"
                   *ngIf="passwordConfirm.invalid">
                Por favor, repite la contraseña nueva.
              </div>
              <div class="invalid-feedback"
                   *ngIf="passwordResetForm.hasError('passwordMatch')">
                Las contraseñas nuevas no coinciden.
              </div>
            </div>
            <button type="submit"
                    class="btn btn-primary btn-block"
                    [disabled]="!passwordResetForm.valid || isSendingRequest">Reestablecer mi contraseña
              <i *ngIf="isSendingRequest"
                 class="fas fa-spinner fa-spin button-spinner"></i>
            </button>
          </form>
        </div>
      </card-content>
    </app-card>
  </div>
</div>
