<div class="modal fade"
     [ngClass]="{'show': show, 'd-block': show, 'd-none': !show}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     [attr.aria-hidden]="!show">
  <div class="modal-dialog modal-dialog-centered"
       role="document">
    <div #modalContent
         class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-content select="modal-content"></ng-content>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"
     *ngIf="show"></div>
