<div class="events-list"
     *ngIf="events && events.length"
     infiniteScroll
     [infiniteScrollDistance]="1"
     (scrolled)="onScroll()">
  <app-event-list [events]="events">
  </app-event-list>
</div>
<div class="row empty-row"
     *ngIf="events && !events.length">
  <div class="col">
    <app-jumbotron [bgColor]="'bg-light'">
      <jumbotron-content>
        <h1 class="text-center">Oops!</h1>
        <p class="lead text-center">Parece que el usuario aún no ha participado en ningún evento.</p>
      </jumbotron-content>
    </app-jumbotron>
  </div>
</div>
<div class="row mt-4"
     *ngIf="isSendingRequest">
  <div class="col d-flex justify-content-center">
    <i class="fas fa-spinner fa-spin fa-2x"></i>
  </div>
</div>
