<div class="row">
  <div class="col">
    <app-card>
      <card-content>
        <h5 class="card-header">Información personal</h5>
        <div class="card-body"
             *ngIf="userInfoForm">
          <form [formGroup]="userInfoForm"
                (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Email</label>
              <input type="email"
                     class="form-control"
                     [ngClass]="{'is-invalid': email.invalid && email.dirty && email.touched}"
                     placeholder="Email"
                     formControlName="email">
              <div class="invalid-feedback"
                   *ngIf="email.hasError('required')">
                Por favor, introduce un email.
              </div>
              <div class="invalid-feedback"
                   *ngIf="email.hasError('email')">
                Por favor, introduce un email válido.
              </div>
              <div class="invalid-feedback"
                   *ngIf="email.hasError('emailDuplicated')">
                El email ya está en uso. Por favor, prueba con otro.
              </div>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'is-invalid': firstName.invalid && firstName.dirty && firstName.touched}"
                     placeholder="Nombre"
                     formControlName="firstName">
              <div class="invalid-feedback">
                Por favor, introduce un nombre.
              </div>
            </div>
            <div class="form-group">
              <label>Apellidos</label>
              <input type="text"
                     class="form-control"
                     [ngClass]="{'is-invalid': lastName.invalid && lastName.dirty && lastName.touched}"
                     placeholder="Apellidos"
                     formControlName="lastName">
              <div class="invalid-feedback">
                Por favor, introduce unos apellidos.
              </div>
            </div>
            <div class="form-group datepicker-group">
              <label>Fecha de nacimiento</label>
              <input #datepickerInput
                     readonly
                     class="form-control custom-select datepicker-input"
                     [ngClass]="{'is-invalid': birthdate.invalid && birthdate.dirty && birthdate.touched}"
                     placeholder="Fecha de nacimiento"
                     formControlName="birthdate">
              <div class="invalid-feedback">
                Por favor, introduce una fecha de nacimiento.
              </div>
              <app-datepicker [datepickerInput]="datepickerInput"
                              [disableFutureDates]="true"
                              (pickDate)="onPickDate($event)"></app-datepicker>
            </div>
            <button type="submit"
                    class="btn btn-primary btn-block"
                    [disabled]="!userInfoForm.valid || isSendingRequest">Modificar datos
              <i *ngIf="isSendingRequest"
                 class="fas fa-spinner fa-spin button-spinner"></i>
            </button>
          </form>
        </div>
      </card-content>
    </app-card>
  </div>
</div>
