<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <app-card>
      <card-body>
        <h4 class="card-title text-center">Iniciar sesión</h4>
        <form [formGroup]="loginForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Email</label>
            <input type="email"
                   class="form-control"
                   [ngClass]="{'is-invalid': email.invalid && email.dirty && email.touched}"
                   placeholder="Email"
                   formControlName="email">
            <div class="invalid-feedback"
                 *ngIf="email.hasError('required')">
              Por favor, introduce un email.
            </div>
            <div class="invalid-feedback"
                 *ngIf="email.hasError('email')">
              Por favor, introduce un email válido.
            </div>
            <div class="invalid-feedback"
                 *ngIf="email.hasError('emailDoesNotExist')">
              El email no se encuentra registrado. Por favor, prueba con otro.
            </div>
          </div>
          {{email.errors | json}}
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password"
                   class="form-control"
                   [ngClass]="{'is-invalid': password.invalid && password.dirty && password.touched}"
                   placeholder="Contraseña"
                   formControlName="password">
            <div class="invalid-feedback"
                 *ngIf="password.hasError('required')">
              Por favor, introduce una contraseña.
            </div>
            <div class="invalid-feedback"
                 *ngIf="password.hasError('passwordDoesNotMatch')">
              Las contraseñas no coinciden. Por favor, prueba con otra.
            </div>
          </div>
          <button type="submit"
                  class="btn btn-primary btn-block"
                  [disabled]="!loginForm.valid">Iniciar sesión</button>
        </form>
        <div class="row password-reset-wrapper">
          <div class="col-12 text-center">
            <a class="card-link"
               routerLink="/forgot-password">Te has olvidado de la contraseña?</a>
          </div>
        </div>
      </card-body>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center register-text">
    <p>Aún no tienes cuenta?
      <span>
        <a routerLink="/register">Regístrate</a>
      </span>
    </p>
  </div>
</div>
