<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <app-card>
      <card-body>
        <h4 class="card-title text-center">Reestablecer contraseña</h4>
        <form novalidate
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   [ngClass]="{'is-invalid': email.invalid && email.dirty && email.touched}"
                   id="email"
                   placeholder="Email"
                   formControlName="email">
            <div class="invalid-feedback">
              Por favor, introduce un email válido.
            </div>
          </div>
          <button type="submit"
                  class="btn btn-primary btn-block">Reestablecer mi contraseña</button>
        </form>
      </card-body>
    </app-card>
  </div>
</div>
