h4 {
  margin-bottom: 0rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  .badge {
    margin-left: 0.75rem;
  }
}

p {
  margin-bottom: 0.75rem;
  .text-muted {
    margin-bottom: 0;
  }
}

.rating-wrapper {
  margin-top: 1rem;
}

.fas {
  color: #fec42d;
}

.star-wrapper {
  margin-left: 0.75rem;
}

@media (max-width: 768px){
  .header {
    flex-direction: column;
  }

  .header-buttons {
    margin-top: 0.5rem;
  }
}
