<div class="rating-wrapper">
  <app-card>
    <card-content>
      <div class="card-body">
        <div class="header">
          <div class="d-flex align-items-center">
            <h4>{{ rating.from.firstName }} {{ rating.from.lastName }}</h4>
            <div class="star-wrapper">
              <ng-container *ngFor="let star of starArray d-flex">
                <i *ngIf="star"
                   class="fas fa-star"></i>
              </ng-container>
            </div>
          </div>
          <div class="header-buttons"
               *ngIf="session.userId === rating.from.id">
            <button class="btn btn-secondary btn-sm">Editar</button>
            <button class="btn btn-danger btn-sm"
                    (click)="onShowDeleteModal(rating.id)">Eliminar</button>
          </div>
        </div>
        <p>{{ rating.comment[rating.comment.length - 1].value }}</p>
        <p class="text-muted">{{ rating.comment[rating.comment.length - 1].date | date }}</p>
      </div>
    </card-content>
  </app-card>
</div>
