h4 {
  margin-bottom: 0rem;
}

.header-wrapper {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.75rem;
  .text-muted {
    margin-bottom: 0;
  }
}

.rating-wrapper {
  margin-top: 1rem;
}

.fas {
  color: #fec42d;
}

.star-wrapper {
  margin-left: 0.75rem;
}
