<app-card>
  <card-content>
    <h5 class="card-header">
      Datos del usuario
    </h5>
    <div class="card-body">
      <div class="row"
           *ngIf="!user">
        <div class="col d-flex justify-content-center">
          <i class="fas fa-spinner fa-spin fa-2x"></i>
        </div>
      </div>
      <div class="row"
           *ngIf="user">
        <div class="col-12 d-flex flex-column align-items-center">
          <div class="row">
            <div class="col">
              <h3>{{ user.firstName }} {{ user.lastName }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col created-at-col">
              <p>Se unió el {{ user.createdAt | date:'d \'de\' MMMM \'del\' yyyy' }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col birthdate-col">
              <p>
                <span>
                  <i class="fas fa-birthday-cake fa-fw"></i>
                </span>{{ user.birthdate | date:'d \'de\' MMMM \'del\' yyyy' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </card-content>
</app-card>
