h3 {
  margin-bottom: 1rem;
}

.birthdate-col, .created-at-col {
  margin-bottom: 0.35rem;
  p {
    margin-bottom: 0;
  }
}

.rating-resume {
  h4 {
    margin-bottom: 0;
  }
  .ratings {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
}
