@import "../node_modules/bootstrap/scss/bootstrap";

.main-content, .navbar-container, .footer-container {
  max-width: #{map-get($container-max-widths, 'xl')};
  padding-right: 0;
  padding-left: 0;
}

.alert-container {
  max-width: #{map-get($container-max-widths, 'xl')};
  margin: auto;
}

.card-title {
  margin-bottom: 1.25rem;
}
