@import "../node_modules/bootstrap/scss/bootstrap";

.custom-select {
  display: block;
  width: 100%;
}

.custom-select:focus {
  color: #495057;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.main-content, .navbar-container, .footer-container {
  max-width: #{map-get($container-max-widths, 'xl')};
  padding-right: 0;
  padding-left: 0;
}

.alert-container {
  max-width: #{map-get($container-max-widths, 'xl')};
  margin: auto;
}

.card-title {
  margin-bottom: 1.25rem;
}

.button-spinner {
  margin-left: 0.5rem;
}

.datepicker-input {
  background-color: #fff !important;
  cursor: default;
}
