<div class="row justify-content-center">
  <i class="fas fa-spinner fa-4x fa-spin"
     *ngIf="!event && !eventPlayers"></i>
  <div class="col"
       *ngIf="event && eventPlayers">
    <div class="info-wrapper">
      <app-event-info [event]="event"
                      [playersNumber]="eventPlayers.length"
                      [isSendingRequest]="isSendingRequest"
                      [isJoinButtonDisabled]="isJoinButtonDisabled"
                      [isSameUserAsHost]="isSameUserAsHost"
                      (joinEvent)="onJoinEvent()">
      </app-event-info>
    </div>
    <div class="map-wrapper">
      <app-event-map [coordinates]="event?.location">
      </app-event-map>
    </div>
    <div class="players-wrapper">
      <app-event-players [players]="eventPlayers"
                         [maxPlayers]="event.maxPlayers"
                         [isSendingRequest]="isSendingRequest"
                         [isJoinButtonDisabled]="isJoinButtonDisabled"
                         [isSameUserAsHost]="isSameUserAsHost"
                         (joinEvent)="onJoinEvent()">
      </app-event-players>
    </div>
  </div>
</div>
