<div class="row">
  <div class="col">
    <div class="info-wrapper">
      <app-event-details-info [event]="event"
                              [isSendingRequest]="isSendingRequest"
                              [isJoinButtonDisabled]="isJoinButtonDisabled"
                              (joinEvent)="onJoinEvent()">
      </app-event-details-info>
    </div>
    <div class="map-wrapper">
      <app-event-details-map [coordinates]="event?.location">
      </app-event-details-map>
    </div>
    <div class="players-wrapper">
      <app-event-details-players [players]="eventPlayers"
                                 [isSendingRequest]="isSendingRequest"
                                 [isJoinButtonDisabled]="isJoinButtonDisabled"
                                 (joinEvent)="onJoinEvent()">
      </app-event-details-players>
    </div>
  </div>
</div>
